.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-body i {
  color: #17a2b8;
  transition: color 0.3s ease;
}

.card:hover i {
  color: #007bff;
}

.contact-icon:hover {
  color: #17a2b8;
  cursor: pointer;
}

.contact-icon {
  transition: color 0.3s ease;
}

